body {
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button.btn-info {
  width: 100%;
  margin-top: 20px;
  font-size: large;
}

.jumbotron {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.withdraw-deposit, #current-balance {
  display: none;
}

label {
  font-size: large;
  margin-top: 20px;
}

.well {
  background-color: #F5F5F5;
  font-family: 'Raleway', sans-serif;
}

#footer {
  margin-top: 40%;
}